.post {
    width: 400px;
    margin: 20px;
}

.postImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items:
        center;
}

.postCat {
    font-size: 11px;
    font-family: "Varela Round", sans-serif;
    color: #bebebe;
    margin-right: 10px;

    line-height: 20px;
    cursor: pointer;
}

.postTitle {
    font-family: "Josefin Sana", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;


}
.postDate{
    font-family: "Lora",serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 14px;
    margin-bottom: 14px;

}
.postDesc{
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;



}